@{
    ViewData["Title"] = "404";
}

<style>
    .e404 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        margin:0;
    }

    .e404 p {  
        width: 100%;
    }
</style>
<main class="e404">
    <p class="text-center alert alert-warning">Erreur 404 cette page n'existe pas</p>
</main>